* {
  margin: 0;
  padding:0;
}
html {
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
   line-height: 1;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: #000;
}

/* Container */
.container {
  max-width: 100em;
  margin: 0 auto;
  padding: 0 2%;
}

/* Top Menu */
nav {
  background-color: #f5f5f5;
  width: 100%;
  height: 5em;
  border-bottom: 2px solid #380404;
  position: fixed;
}

/* About Me */
section {
  padding: 2em 0;
}

section #first-page{
  display: flex;
  line-height: 40px;
  align-items: center;
  justify-content: center;
  width: 60vw;
}

section h1 {
  font-size: 4rem;
  white-space: nowrap;
  /* text-transform: uppercase; */
  background: linear-gradient(to right, #ccb6b6 0%, #12734f 100%);
  -webkit-background-clip: text;
  text-align: center;
  -webkit-text-fill-color: transparent;
  /* font-family: 'Lexend Mega', sans-serif; */
  line-height: 1em;
}

section hr {
  border: 1px solid #ccb6b6;
  background-color: #ccb6b6;
  max-width: 3.75em;
  margin: 2.5em auto;
}
/* Social */

.social {
  text-align: center;
}

i.fa {
  font-size: 2rem;
}

.social-icons{
  display: flex;
  justify-content: space-evenly;
}
.social-icons a{
  color: #ccb6b6;
}

.social-icons a:hover{
   -webkit-transform: scale(1.4);
   color: #12734f;
}

h3 {
  color: #380404;
}
p{
  font-family: 'Lexend Mega', sans-serif;
  color: #ccb6b6;
}


/* Footer */

footer {
  position: fixed;
  bottom: 0;
  width: 60vw;
  padding-bottom: 10px;
  font-family: 'Signika', sans-serif;
  font-size: 0.875em;
  font-weight: 600;
  text-align: center;
  color: #ccb6b6;
}

.fade-in-css{
  animation: fadein 5s;
}

/* text animations */
#loader p {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 5em;
  letter-spacing: 5px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #ccb6b6, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  font-family: 'Lexend Mega', sans-serif;
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

/* Media Queries */
@media screen and (max-width: 900px) {
  #loader p {
    font-size: 1.8em;
  }
  section #first-page{
    height: 25vh;
  }
  section h1 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 630px) {
  #loader p {
    font-size: 1.8em;
  }
  footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  section #first-page{
    height: 25vh;
    line-height: 40px;
  }
  section h1 {
    font-size: 2rem;
    white-space: nowrap;
  }
}
